/* Importing all CSS files */
@import url("../css/common/Header.css");
@import url("../css/common/Sidebar_menu.css");

@import url("../css/common/Main_content.css");
@import url("../css/containers/Home.css");

@import url("../css/common/card.css");

@import url("react-loading-skeleton/dist/skeleton.css");
/* Defaults */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Primary Variables */
:root {
  --primary: "green";
}
